
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.minesweep-cont-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#minesweepergrid { 
    display:grid;
    grid-template-columns: repeat(14, 50px);
    list-style:none;
    text-align:center;
    justify-content:center;
gap:0;
}

ul.minesweepergrid-class {
    list-style-type:none;
    margin:0;
    padding:0;

}

.minesweepergrid-class button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: #a8dadc;
    color: #1d3557;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

ul.minesweepergrid-class {
    margin:0;
    padding:0;
}

.minesweepergrid-class button:active {
    background-color: red;
    color: #f1faee;
}

.minesweepergrid-class button#bomb {
    background-color: rgb(221, 89, 89);
    color:white;
}

.minesweepergrid-class button#flagged {
    background-color: rgb(231, 231, 96);
    color:white;
}



.flagbutton-class {
   content: '';
font-size:0px;
   background-image: url(images/flag\(1\).png);
   background-size: cover;
   background-position: center;
   padding: 2rem;
}

.flagmodeon {
    background-color: green;
}

#clicked {
    background:rgb(248, 217, 137);
}

.endsection-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(189, 188, 188);
    padding:1rem;
    border: .5rem solid rgb(156, 156, 156);
    border-radius:1rem;
}

.endsection-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.endsection-buttons button {
    margin:1rem;
}