#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#minesweepergrid { 
    display:grid;
    grid-template-columns: repeat(14, 50px);
    list-style:none;
    text-align:center;
    justify-content:center;
}

.minesweepergrid-class button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #a8dadc;
    color: #1d3557;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

ul.minesweepergrid-class {
    margin:0;
    padding:0;
}

.minesweepergrid-class button:active {
    background-color: red;
    color: #f1faee;
}